<% users.forEach(user => { %>
<div
  class="modal fade"
  id="foto<%= user.id %>"
  tabindex="-1"
  aria-labelledby="addLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="addLabel"><i class="bi bi-chevron-right"></i> <%= user.name %></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img src="<%= user.photo %>" width="100%" alt="">
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
  </div>
</div>
<% }) %>