<div class="container-fluid">
  <div class="row p-5 justify-content-center" id="signin">
    <div class="col-4">
      <h3 class="text-success">Masuk</h3>
      <br />
      <form action="/user" method="post">
        <div class="mb-3">
          <label for="nipInput" class="form-label">NIP</label>
          <input
            type="text"
            name="nip"
            class="form-control"
            id="nipInput"
            aria-describedby="emailHelp"
            required
          />
          <div id="emailHelp" class="form-text">
            Kami tidak akan memberitahukan informasi anda kepada siapapun.
          </div>
        </div>
        <div class="mb-3">
          <label for="passwordInput" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="passwordInput"
            required
          />
        </div>
        <br />
        <button type="submit" class="btn btn-outline-success">
          <i class="bi bi-box-arrow-in-right"></i> Masuk
        </button>
      </form>
    </div>
  </div>
</div>
